body {
    margin: 0;
}

:root {
    --maincolor: hsl(171, 100%, 41%);
}

.banner {
    background: var(--maincolor);
}

.bannerContent {
    margin: 0 auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.otherQuestions {
    display: none;
}

.crypto {
    display: none;
}

.stocks{
    display: none;
}

.stockBtn {
    display:block;
}

.cryptoBtn {
    display:block;
}

.cryptoCalBtn {
    display:none;
}

.stockCalBtn {
    display:none;
}

.is-inverted {
    border: 1px solid var(--maincolor) !important;
}

.card {
    padding: 1%;

}
#sub {
    padding: 1%;

}

#calculation-container {
    display:none;
}

.card-date {
    font-size: .75rem;
    margin-bottom: 5px;
}

.title {
    margin-bottom: 0px !important;
}

#info-main {
    font-size: 1.3rem;
    font-weight: bold;
}

#sub-info div {
    height: 170px;
}

#sub-info div .card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100%;

}
#info-past:hover{
    transform: scale(1.125);
    
}
#info-current:hover{
    transform: scale(1.125);

}
#info-change:hover{
    transform: scale(1.125);
}